﻿@model ErrorViewModel
    <div>
        @{
            var photoPath = $"~/Images/errorOops.jpg";
        }
        <h1> Error</h1>
        <img class="card-img-top imageThumbnail" src="@photoPath"
             asp-append-version="true" />
    </div>
<h3>
    @Model.ExceptionMessage

</h3>
<h5>@Model.ExceptionPath</h5>
