﻿@model ErrorViewModel

<h1>@Model.ExceptionMessage</h1>
<h2>@Model.ExceptionPath</h2>

<div>
    @{
        var photoPath = $"~/Images/error.jpg";
    }
    <img class="card-img-top imageThumbnail" src="@photoPath"
         asp-append-version="true" />
</div>
<a asp-action="index" asp-controller="home">
    Click here to navigate to the home page
</a>

