﻿@model int

@{
    ViewData["Title"] = "404 Error";
}

<div class="alert alert-danger my-1">
    <h4>404 Not Found Error :</h4>
    <hr />
    <h5>
        Employee with ID = @Model cannot be found
    </h5>
</div>

<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success" style="width:auto">
    Click here to see the list of all employees
</a>
